body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  color: rgb(118, 135, 160);
}

label {
  display: block;
  font-size: 13px;
  font-weight: bold;
  color: rgb(43, 18, 61);
}

nav a {
  display: inline-block;
  font-family: Optima, sans-serif;
  color: rgb(71, 4, 160);
  font-size: 14px;
  font-weight: bold;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
form h6 {
  margin: 0.5em;
  display: inline-block;
}

#product {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
  border: solid 0.5px rgb(190, 197, 197);
  border-radius: 10px;
  background-color: white;
  width: 300px;
}
#product img {
  max-width: 150px;
  max-height: 140px;
  padding: 15px;
}
#productInfo a {
  color: rgb(20, 42, 105);
}

#tags {
  width: 120px;
}

#tags a {
  display: inline-block;
  color: rgb(65, 79, 207);
}
#productInfo a:hover {
  color: rgb(138, 145, 206);
}

#productAdmin {
  display: flex;
  align-items: center;
}
/* add to cart button: */
#addToCart {
  cursor: copy;
  color: rgb(250, 245, 245);
  font-size: 11px;
  border: solid 0.1px;
  background-color: rgb(26, 190, 94);
  border-color: rgb(150, 148, 148);
  border-radius: 5px;
  width: 100px;
}
#outOfStock {
  cursor: not-allowed;
  text-align: center;
  padding-top: 1.5px;

  color: rgb(122, 0, 0);
  font-size: 11px;
  border: solid 0.1px;
  background-color: rgb(189, 197, 192);
  border-color: rgb(207, 204, 204);
  border-radius: 5px;
  width: 100px;
  height: 13px;
}

.asterisk {
  /* padding: 0px; */
  margin: 0px;
  margin-left: 10px;
  font-size: 17px;
  color: rgb(241, 15, 15);
}
.delete-button {
  background-color: rgb(245, 10, 10);
  height: 25px;
  font-weight: bold;
  color: rgb(248, 248, 248);
  border-radius: 4px;
}
.create-button {
  background-color: rgb(84, 165, 82);
  color: rgb(255, 255, 255);
  margin-left: 10px;
  border-radius: 4px;
}

.optionRequired {
  color: rgb(110, 110, 108);
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 6px;
}

.input-newPoduct {
  color: rgb(8, 31, 133);
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 6px;
}

#editForm {
  margin-left: 30px;
  margin-bottom: 10px;
}

.productsBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background-color: #f9f9f9;
  align-content: space-between;
}
.productsBoxAdmin {
  display: flex;
  flex-direction: column;
}

#productInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-right: 10px;
}

#productInfoAdmin {
  display: flex;
  flex-direction: row;
}
#productInfo h5 {
  margin: 10px;
  margin-left: 0px;
}
#productInfo h3 {
  text-align: left;
  width: 100px;
  height: 30px;
}

.toggle-button {
  margin-left: 20px;
  color: white;
  background-color: cornflowerblue;
  border-radius: 3px;
}

.newFormToggle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#toggle-button {
  width: 200px;
  color: aliceblue;
  background-color: rgb(84, 165, 82);
  border-radius: 3px;
}
#form-name {
  color: rgb(6, 131, 153);
}

#searchBar {
  display: flex;
}

#magnifyingGlass {
  border: solid 1px;
  border-left: 0px;
}

#searchInput {
  border: solid 1px;
  border-right: 0px;
}

#searchInput:focus {
  outline: none;
}
