body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
  font-size: 13px;
  font-weight: bold;
  color: rgb(72, 31, 102);
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
form h6 {
  margin: 0.5em;
  display: inline-block;
}

img {
  max-width: 300px;
  padding-right: 40px;
}

#product {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

a {
  text-decoration: underline;
  color: blue;
}
.asterisk {
  /* padding: 0px; */
  margin: 0px;
  margin-left: 10px;
  font-size: 17px;
  color: rgb(241, 15, 15);
}
.delete-button {
  background-color: rgb(245, 10, 10);
  height: 25px;
  font-weight: bold;
  color: rgb(248, 248, 248);
  border-radius: 4px;
}
.create-button {
  background-color: rgb(84, 165, 82);
  color: rgb(255, 255, 255);
  margin-left: 10px;
  border-radius: 4px;
}

.optionRequired {
  color: rgb(110, 110, 108);
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 6px;
}

.input-newPoduct {
  color: rgb(8, 31, 133);
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 6px;
}

#editForm {
  margin-left: 30px;
  margin-bottom: 10px;
}

.productBox {
  display: flex;
}

.productInfo {
  display: flex;
  flex-direction: column;
}
.productInfo h5 {
  margin: 10px;
}

.toggle-button {
  margin-left: 20px;
  color: white;
  background-color: cornflowerblue;
  border-radius: 3px;
}

.newFormToggle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#toggle-button {
  width: 200px;
  color: aliceblue;
  background-color: rgb(84, 165, 82);
  border-radius: 3px;
}
#form-name {
  color: rgb(6, 131, 153);
}
