* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Optima, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(243, 239, 239, 0.9)
    ),
    url('https://img1.mashed.com/img/gallery/the-best-cheap-mixed-drinks-to-order-at-a-bar/intro-1571943589.jpg');

  background-attachment: fixed;
  width: 100%;
}

#main-container {
  display: flex;
  justify-content: center;
  margin-top: 6%;
  width: 100%;
}

a {
  text-decoration: none;
}

hr {
  display: none;
}

button:focus {
  outline: none;
}

img {
  max-width: 400px;
  max-height: 400px;
}
/* navbar styling */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: fixed;
  background-color: rgba(19, 81, 100, 0.975);
  box-shadow: 0px 1px 3px rgb(6, 6, 12);
  top: 0px;
  margin: 0px;
  padding: 0px;
  height: 90px;
  width: 100%;
}
.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  margin: 35px 0px 0px 35px;
  height: 10px;
  width: 25px;
}

#first-line-burger,
#second-line-burger {
  height: 0.8px;
  width: 25px;
  background-color: rgb(252, 249, 249);
  transition: all 0.3s ease-in-out;
}

#first-line-x {
  height: 0.8px;
  width: 25px;
  background-color: rgb(204, 203, 203);
  transform: rotate(-45deg) translate(-1px, 5.5px);
  transition: all 0.3s ease-in-out;
}
#second-line-x {
  height: 0.8px;
  width: 25px;
  background-color: rgb(204, 203, 203);
  transform: rotate(45deg) translate(-1px, -5.5px);
  transition: all 0.3s ease-in-out;
}

nav a {
  color: rgb(250, 244, 250);
  font-size: 0.85em;
  font-weight: 500;
}

nav a:hover,
#nav-links-account:hover {
  color: rgb(160, 177, 204);
  cursor: pointer;
}

#label {
  border: solid 0.1px rgb(138, 115, 115);
  box-shadow: 1px 0.5px 10px rgb(183, 183, 233);
  float: left;
  border-radius: 50%;
  font-family: Snell Roundhand, cursive;
  background: linear-gradient(
    to right,
    rgb(250, 250, 248) 30%,
    rgba(240, 243, 216, 0.75)
  );
  color: rgb(30, 177, 42);
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  width: 140px;
  padding-bottom: 2px;
  margin-left: 35px;
}

.nav-links-burger,
.nav-links-x {
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  height: 75%;
  margin-top: 35px;
  margin-right: 35px;
}

.user-account-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  font-weight: 100;
  margin: 3% 0px;
  font-size: 1em;
  height: 35px;
  padding: 5px;
  width: 75px;
  color: white;
  border: solid 0.1px rgba(7, 51, 45, 0.3);
  border-radius: 8px;
}
.user-account-nav h6 {
  width: 70%;
}
.account-links-container {
  display: flex;
  position: relative;
  flex-direction: column;
  right: 44px;

  width: 120px;
  height: 80px;
}

#account-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(105, 185, 207);
  box-shadow: 1px, 1px;
  transition: 0.5s ease;
  height: 75px;
  width: 120px;

  border-radius: 7px;
}
#account-links a,
#nav-links-account {
  font-size: 11px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 400;
  color: rgb(9, 5, 5);
  width: 70px;
  margin: 3px;
  padding: 2px;
  background-color: rgb(250, 218, 35);
  border: solid 0.05px rgba(0, 0, 0, 0.5);
  box-shadow: 0.5px 0.5px 3px rgb(252, 235, 235);
  border-radius: 3px;
}

.arrow-down {
  margin-top: 8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}

.arrow-up {
  margin-left: 79.5833%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgb(105, 185, 207);
}
#account-links-mobile {
  display: none;
}

#shopping-cart-icon:hover,
#shopping-cart-icon-mobile:hover {
  color: white;
}
.shoppCart-container a {
  margin: 0px;
}

#shopping-cart-icon,
#shopping-cart-icon-mobile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 40px;
  height: 30px;
  /* margin-bottom: 10px; */
  font-weight: bold;
}

#cart-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 40px;
  height: 21px;
}
#cart-left {
  height: 3px;
  width: 14px;
  border: solid 1px;
  background-color: white;
  transform: rotate(63deg) translate(10.5px, 7px);
}
#cart-bottom {
  height: 22px;
  font-size: 14px;
  color: rgb(250, 107, 107);
  width: 16px;
  padding-top: 1.5px;
  /* padding-bottom: 1px; */
  text-align: center;
  border-bottom: solid 3px white;
  transform: translate(-6px, -1px);
}
#cart-right {
  height: 3px;
  width: 16px;
  border: solid 1px;
  background-color: white;
  transform: rotate(-63deg) translate(18.5px, 11.2px);
}

#cart-handle {
  height: 3px;
  width: 10px;
  background-color: white;
  border: solid 1px white;
  transform: translate(13px, -18px);
}

#wheels {
  margin-left: 9px;
  display: flex;
  width: 25px;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
}
.wheels {
  height: 4px;
  width: 4px;
  margin: 1px 5px 4px 0px;
  background-color: white;
  border-radius: 50%;
}

#shopping-cart-icon-mobile {
  display: none;
}

#search-bar {
  display: flex;
  float: left;
  height: 20px;
}

#magnifyingGlass {
  border: solid 1px;
  background-color: white;
  font-size: 15px;
  border-left: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#searchInput {
  border: solid 1px;
  border-right: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#searchInput:focus {
  outline: none;
}
.home-container {
  width: 100%;
  height: 110px;
}

#home-message {
  display: flex;
  background: linear-gradient(
    to top,
    rgba(6, 6, 22, 0) 0%,
    rgba(50, 89, 114, 0.8) 100%
  );
  width: 100%;
  height: 110px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-container h1 {
  margin: 25px 0px 0px 0px;
  color: rgb(78, 1, 27);
  font-family: Snell Roundhand, cursive;
  text-shadow: 1px 1px 3px rgb(252, 235, 3);
}
.home-container h3 {
  margin: 10px 15px;
  text-align: center;
  color: rgb(12, 0, 0);
  font-weight: 500;
  font-family: monospace;
  text-shadow: 0.4px 0.4px 0.1px #f16f6f;
}

/* auth-form */
#auth-container,
#user-container {
  margin-top: 50px;
  background-color: #f8f8ff;
  border: solid 3px rgb(249, 251, 252);
  border-radius: 7px;
  width: 500px;
  padding: 2% 0%;
}

#auth-method {
  margin-left: 10%;
  font-size: 25px;
}

#auth-container form {
  display: flex;
  flex-direction: column;
  justify-items: start;
  max-width: 80%;
  margin: 8% 10%;
}

#auth-container input {
  border: solid 0.5px rgb(155, 155, 155);
  font-size: 20px;
  border-radius: 4px;
  background-color: white;
  padding-left: 5px;
  margin: 0px 0px 8%;
  width: 400px;
  height: 45px;
}
#auth-submitBttn-google {
  width: 100%;
  display: flex;
  direction: row;
  justify-content: space-between;
  margin: 0px;
}

#auth-container button,
#auth-container a {
  width: 100%;
  height: 30px;
  box-shadow: 0px 1px 2px rgb(155, 153, 153);
  color: white;
  border: solid 0.3px rgb(209, 205, 205);
  font-size: 1.3em;
  background-color: rgb(110, 186, 223);
  border-radius: 5px;
}
#auth-container a {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60%;
  font-size: 15px;
}
#auth-container #signup {
  width: 100%;
  background-color: rgb(26, 163, 26);
  color: rgb(250, 239, 239);
}
#auth-submitBttn-google a span {
  width: 20px;
  height: 20px;
  margin: 5px;
  background-image: url('images/google-icon.png');
  background-size: cover;
  background-repeat: no-repeat;
}
#auth-container a div {
  margin: 5px;
}

#create-Account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid 0.3px rgb(185, 185, 185);
  padding-top: 5%;
  margin: 5% 10%;
}
#create-Account a {
  background-color: rgb(26, 163, 26);
  color: rgb(250, 239, 239);
  padding: 5px;
}
/* user-home page */
#user-container {
  display: flex;
  color: #113542;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.user-info-form {
  width: 400px;
  margin: 8%;
}

.user-info-form span {
  vertical-align: text-top;
  font-size: 0.7em;
  margin: 0.1em;
}

.inputs-user-page {
  position: relative;
}
.inputs-user-page input {
  color: rgb(10, 10, 102);
  border: solid 1px;
  font-size: 1.2em;
  padding: 20px 10px 6px;
  background-color: #f8f8ff;
  border-bottom: solid 0.5px black;
  z-index: 1;
  width: 400px;
  height: 52px;
  margin-bottom: 20px;
}
.inputs-user-page > label {
  font-size: 1.2rem;
  line-height: 1.33333;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  padding: 18px 0 0 12px;
  margin: 0;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.inputs-user-page input:valid + label {
  top: -10px;
  font-size: 0.7rem;
  padding: 12px;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

/* create and edit forms styling */
form div {
  display: inline-block;
}
form h6 {
  margin: 0.5em;
  display: inline-block;
}
label {
  display: block;
  margin-top: 12px;
  margin-bottom: 2px;
  font-size: 13px;
  font-weight: bold;
  color: rgb(43, 18, 61);
}
.asterisk {
  margin: 0px;
  margin-left: 10px;
  font-size: 17px;
  color: rgb(241, 15, 15);
}

.optionRequired {
  color: rgb(110, 110, 108);
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 6px;
}

.input-newPoduct {
  color: rgb(8, 31, 133);
  font-size: 14px;
}

#editForm {
  margin-left: 30px;
  margin-bottom: 10px;
}

.delete-button {
  background-color: rgb(245, 10, 10);
  font-weight: bold;
  color: rgb(12, 12, 12);
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 5px;
}

.create-button {
  background-color: rgb(84, 165, 82);
  color: rgb(255, 255, 255);
  margin-left: 10px;
  border-radius: 4px;
}

.toggle-button {
  margin-left: 20px;
  color: white;
  background-color: cornflowerblue;
  border-radius: 3px;
}

.newFormToggle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 20px;
}

#toggle-button {
  width: 200px;
  color: aliceblue;
  background-color: rgb(84, 165, 82);
  height: 30px;
  margin: 20px;
  border-radius: 10px;
}
#form-name {
  margin-top: 10px;
  color: rgb(6, 131, 153);
}

/* all products styling */

.products-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

#single-product-container,
#single-product-container-admin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 15px 15px 25px;
  border-bottom: solid 0.5px rgb(115, 121, 121);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(250, 250, 250, 0.8) 100%
  );
  width: 300px;
  max-width: inherit;
}
.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.product-img img {
  max-width: 150px;
  max-height: 140px;
}
.product-image-single-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.product-image-single-page img {
  max-width: 250px;
  max-height: 250px;
}

#product-info {
  display: flex;
  flex-direction: column;
  padding: 15px 10px 10px;
}

#product-name {
  color: rgb(8, 13, 27);
  text-align: left;
  margin-bottom: 10px;
  width: 100px;
  height: 30px;
}

#product-info a:hover,
#product-name:hover {
  color: rgb(138, 145, 206);
}

#product-info h5 {
  margin-bottom: 10px;
  margin-left: 0px;
}

.products-container-admin {
  display: flex;
  flex-flow: column wrap;
  background-color: #f9f9f9;
  margin-top: 100px;
}

#single-product-container-admin {
  width: 750px;
}

#single-product-container-admin img {
  max-width: 250px;
  max-height: 200px;
  padding: 5px;
}

#single-product-container-admin h3 {
  width: 150px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#single-product-container-admin h5 {
  font-size: 16px;
  margin-top: 40px;
}

#product-info-admin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 20px;
}

#add-to-cart,
#out-of-stock {
  text-align: center;
  cursor: copy;
  color: rgb(250, 245, 245);
  font-size: 11px;
  border: solid 0.1px;
  background-color: rgb(26, 190, 94);
  border-color: rgb(150, 148, 148);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 2px;
  width: 90px;
}
#out-of-stock {
  cursor: not-allowed;
  color: rgb(122, 0, 0);
  background-color: rgb(189, 197, 192);
}
/* */
.modal {
  display: flex;
  justify-content: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-container {
  position: relative;
}

.modal-details,
.checkout-modal-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 500px;
  background-color: rgb(203, 226, 235);
  border-radius: 8px;
}

.product-details-container h3 {
  border-bottom: solid 0.5px gray;
  margin-bottom: 50px;
  color: #113542;
  text-align: center;
}
.product-details-container {
  width: 45%;
}
.select-qty-single-product-page {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.select-qty-single-product-page #add-to-cart,
.select-qty-single-product-page #out-of-stock {
  margin: 0px 0px 0px 20px;
  padding: 7px 0px;
  box-shadow: 2px 2px 3px rgb(167, 167, 167);
}
.select-qty-single-product-page select {
  height: 30px;
  width: 65px;
  padding-left: 5px;
  border: transparent;
  background-color: rgb(203, 226, 235);
  border-bottom: solid 0.5px gray;
}
.select-qty-single-product-page option {
  background-color: red;
}
.select-qty-single-product-page select:focus {
  outline: none;
}

.tags {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.tags a {
  margin-right: 5px;
  color: rgb(65, 79, 207);
}
.product-image {
  max-width: 35%;
  max-height: 35%;
  margin: 3%;
}

.close-modal-bttn,
.close-modal-bttn-user-page {
  border: solid 1px;
  border-radius: 2px;
  background-color: rgb(216, 127, 127);
  padding: 2px;
  height: 15px;
  width: 15px;
  z-index: 2;
  position: absolute;
  top: 12px;
  right: 12px;
}

.shopping-cart-container {
  margin-top: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
}
.empty-cart-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#empty-cart-icon {
  width: 45px;
  height: 45px;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  width: 38%;
  margin: 0% 1% 0% 6%;
  padding: 0px;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: serif;
  font-size: 17px;
  width: 100%;
  padding: 15px 5px;
  margin-bottom: 20px;
  border: solid 1px rgb(241, 235, 235);
  border-radius: 5px;
  box-shadow: 1px 1px rgb(117, 115, 115);
  background-color: white;
}

#cart-item-img {
  display: flex;
  justify-content: center;

  margin-left: 3%;
  width: 17%;
  height: 80px;
}
#cart-item-img img {
  max-width: 100%;
  height: 80px;
}

.cart-item-data h3 {
  color: rgb(14, 19, 79);
}

.cart-item-data {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.cart-details {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.add-or-remove-quatity-bttns {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
#plus-sign:focus,
#minus-sign:focus {
  outline: none;
}
#plus-sign,
#minus-sign {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('images/minus.png');
  border: transparent;
  width: 17px;
  height: 17px;
  margin: 10px 0px 10px 4px;
}
#plus-sign {
  background-image: url('images/plus.png');
  background-color: white;
  margin-left: 10px;
}
#delete-item {
  width: 25px;
  height: 25px;
  margin-right: 3%;
}

.cart-totals {
  width: 48%;
  height: 200px;
  margin: 0% 6% 0% 1%;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0.2px 1px rgb(182, 179, 179);
}
.cart-totals h2 {
  color: #f8f8ff;
  height: 20%;
  text-align: center;
  background-color: rgb(26, 75, 26);
  border-radius: 5px 5px 0px 0px;
  padding: 5px;
}
.cart-total-details {
  display: flex;
  height: 75%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0% 10%;
}
.cart-total-details h3 {
  margin-top: 10px;
}

#checkout-bttn,
#checkout-bttn-disabled {
  width: 25%;
  height: 30%;
  font-size: 1em;
  text-align: center;
  padding: 12px 0px;
  background-color: rgb(252, 59, 59);
  color: rgb(254, 254, 254);
  border: transparent;
  border-radius: 7px;
  box-shadow: 0.5px 0.5px rgb(28, 27, 27);
}

#checkout-bttn-disabled {
  color: rgb(32, 32, 32);
  background-color: rgb(182, 179, 179);
}

.checkout-modal-details {
  flex-direction: column;
}
.checkout-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 75%;
}
.checkout-form input {
  width: 100%;
  height: 30px;
  padding-left: 5px;
  border-radius: 5px;
  border: solid 1px gray;
}
.checkout-form label {
  padding-left: 5px;
  width: 100%;
}
.checkout-modal-details button {
  background-color: rgb(38, 180, 38);
  border: transparent;
  border-radius: 7px;
  box-shadow: 0.7px 0.7px rgb(28, 27, 27);
  height: 30px;
  width: 30%;
  color: white;
}

/* STRIPE CARD CSS */
.StripeElement {
  height: 30px;
  width: 100%;
  padding: 5px 10px;
  margin: 25px 0px;
  color: #32325d;
  background-color: white;
  border: 1px solid gray;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.checkout-card-label {
  width: 40em;
}
.pay-confirm-page {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#comfirm-img {
  height: 5em;
  width: 5em;
}

@media (max-width: 1055px) {
  #main-container {
    margin-top: 75px;
  }
  .user-account-nav {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
  }
  #label {
    height: 35px;
    font-size: 1.3em;
    padding-top: 2px;
    width: 100px;
    margin-top: 10px;
  }

  #auth-container,
  #user-container {
    margin: 6% 15%;
  }
  .nav-links-x,
  .nav-burger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    padding: 0px 0px;
    font-weight: normal;
  }
  .nav-links-x a,
  .nav-burger a,
  #nav-links-account {
    font-size: 0.75em;
  }
  #nav-links-account {
    background: transparent;
    border: transparent;
    border-radius: 0px;
    box-shadow: none;
    color: rgb(250, 244, 250);
    font-weight: 200;
    font-family: Optima, sans-serif;
  }

  #account-links-mobile {
    display: flex;
    justify-content: space-between;
    /* height: 0; */
    width: 16%;
    padding: 0px;
  }
  #account-links-mobile a {
    margin-top: 15px;
    font-weight: 100;
  }
  #account-links-mobile #logout-nav {
    margin: 14px;
    font-weight: 100;
  }

  .shopping-cart-container {
    margin-top: 3%;
    display: flex;
  }
  #checkout-bttn,
  #checkout-bttn-disabled {
    text-align: center;
    width: 35%;
    font-size: 1em;
  }
}

@media screen and (max-width: 910px) {
  #main-container {
    display: flex;
    margin-top: 75px;
    justify-content: center;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav .burger {
    display: flex;
    margin: 0px;
    margin-left: 2%;
  }
  #search-bar {
    display: none;
  }

  #shopping-cart {
    display: none;
  }

  .nav-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin: 1.7em 0em 0em 1.3em;
    width: 20px;
    height: 15px;
  }

  #label {
    height: 30px;
    font-size: 1.1em;
    width: 90px;
    margin: 0px;
  }

  .nav-links-x,
  .nav-links-burger {
    position: fixed;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #28434d;
    top: 12%;
    text-align: left;
    left: 0%;
    transition: 0.5s ease-in-out;
    margin: 0px;
    padding-top: 5%;
  }
  .nav-links-x {
    left: -100%;
  }
  .nav-links-x a,
  .nav-links-burger a,
  #nav-links-account {
    display: inline-block;
    width: 80%;
    padding: 0px 0px;
    border-bottom: solid 1px rgb(192, 188, 188);
    font-size: 0.8em;
    margin: 15px 0px;
    font-weight: normal;
  }

  #account-links-mobile {
    width: 80%;
    display: block;
    margin-top: 0px;
  }
  #nav-links-account,
  #account-links-mobile #logout-nav {
    width: 100%;
    text-align: start;
    margin-left: 0px;
  }
  .user-container,
  .user-info-form {
    margin: 0;
    width: 100%;
  }
  .close-modal-bttn-user-page {
    margin-top: 16%;
    margin-right: 9%;
  }

  #shopping-cart-icon-mobile {
    display: flex;
    margin-right: 3%;
  }
  #shopping-cart-icon {
    display: none;
  }

  #home-message {
    margin-top: 0px;
    height: 120px;
  }

  .products-container {
    justify-content: center;
    margin-top: 0px;
  }

  #auth-container,
  #user-container {
    width: 80%;
    margin: 7% 10%;
  }

  #auth-container form input {
    max-width: 100%;
  }
  #auth-container button {
    margin-right: 60%;
  }

  .user-info-form {
    max-width: 80%;
    margin: 10%;
  }
  .inputs-user-page {
    /* position: static; */
  }

  .modal-user-page-container .inputs-user-page {
    max-width: 100%;
  }
  .modal-user-page-container .inputs-user-page input,
  .user-info-form input {
    max-width: 100%;
    margin: 0px;
    margin-bottom: 20px;
  }
  .user-info-form input {
    max-width: 80%;
  }
  .modal-container,
  .modal-details {
    height: 70%;
    max-width: 320px;
  }

  .shopping-cart-container {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
  }
  .empty-cart-container {
    width: 95%;
    border-bottom: solid 0.5px gray;
    padding-bottom: 15px;
    margin-bottom: 5%;
  }
  .cart-items-list {
    margin: 0% 5%;
    width: 90%;
  }
  .cart-totals {
    margin: 0% 5%;
    width: 90%;
  }
  #checkout-bttn,
  #checkout-bttn-disabled {
    font-size: 0.9em;
  }
  .modal-container,
  .modal-details,
  .checkout-modal-details {
    max-width: 95%;
    margin: 10% 3%;
  }
  .close-modal-bttn {
    margin-top: 8.5%;
    margin-right: 2px;
  }
}
